@inject IStringLocalizer<Resource> lang
<tr>
    <td colspan="5" class="uk-text-right">@lang["Total Quantity"]</td>
    <td class="uk-text-right bg_hightlight">
        @model.active_production_products.Sum(r => r.quantity).ToString(gv.quantity_format)
    </td>
</tr>
@if (model.total_amount > 0)
{
    <tr>
        <td colspan="5" class="uk-text-right">@lang["Total Amount"]</td>
        <td class="uk-text-right bg_hightlight">
            @model.total_amount.ToString(gv.currency_format)
        </td>
    </tr>
}

@code{
    [Parameter] public ProductionModel model { get; set; }
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
}