
@if (is_visible)
{

    <th class="table-header uk-text-center @ClassName" @onclick="OnClick" style="width:@width" colspan="@colspan">
        @ChildContent
        <span> <Icon icon="@(OrderByType == "asc"?"arrow_downward":"arrow_upward")" is_visible="@OrderBy" /></span>
    </th>

}
@code{
    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public bool OrderBy { get; set; } = false;
    [Parameter] public string width { get; set; } = "";
    [Parameter] public string OrderByType { get; set; } = "";
    [Parameter] public string ClassName { get; set; } = "";
    [Parameter] public int colspan { get; set; } = 1;
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}