<div class="uk-width-1-6" style="position: relative;">
    <div class="box cp" style="background: #ececec;text-align:center;" @onclick="@OnClick">
        <div class="pos_icon_back">
            <Icon icon="reply " icon_color="#333333" size="43px" />
            <div>Back</div>
        </div>
    </div>
</div>

@code {

    [Parameter] public int current_menu_id { get; set; }
    [Parameter] public int parent_menu_id { get; set; }

    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}