<div class="@ClassName footer-button-page">
    @ChildContent
</div>

@code{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string ClassName { get; set; } = "uk-navbar-center";
}
