<div class="uk-width-expand uk-text-right @ClassName">
    @ChildContent

    @if (ShowBackButton)
    {
    <a class="uk-button uk-button-danger" onclick="history.go(-1);"><Icon icon="reply"/> Back</a>
    }

</div>

@code{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string ClassName { get; set; } = "";
    [Parameter] public bool ShowBackButton { get; set; } = false;
}