<div class="uk-width-expand uk-text-right @ClassName">
    <div class="uk-flex uk-flex-middle uk-flex-right">
        @ChildContent
    </div>
</div>

@code{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string ClassName { get; set; } = "";
    [Parameter] public bool ShowBackButton { get; set; } = false;
}