@using Microsoft.JSInterop
@inject IJSRuntime js 
<div class="wrp-action-form">
    <div class="uk-container-expand relative">
        <nav uk-navbar class="relative">
            @ChildContent
        </nav>
        @if (is_overlay) { 
        <div class="disabled_overlay"></div>
        }
    </div>
</div>

@code{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool is_overlay { get; set; } = false;

    protected override void OnAfterRender(bool firstRender)
    {
        js.InvokeVoidAsync("IsHasFooter");
    }
}
