@if (is_visible)
{
    if (roles != "")
    {
        <AuthorizeView Roles="@roles">
            <li> @ChildContent </li>
        </AuthorizeView>
    }
    else
    {
        <li>@ChildContent</li>
    }
}

@code{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public string roles { get; set; } = "";
}