@if (customer_business_branchs.Any())
{
    @foreach (var l in customer_business_branchs)
    { 
        <label class="uk-label text-center" style="background: #1e87f0;color: #fff;margin-right:5px;" uk-tooltip="Business Branch">@l.business_branch.business_branch_name_en</label>
    }
}

@code {
    [Parameter] public List<CustomerBusinessBranchModel> customer_business_branchs { get; set; }
}
