@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime
@inject ILocalStorageService local;
@using Microsoft.AspNetCore.Components;
@using Microsoft.JSInterop;
@using System.Globalization;


 
<select  @bind="@current_lang" class="uk-select">
    @foreach (var d in cultures)
    {
        <option value="@d.lang_code">@d.lang_name</option>
    }
</select>

@code{
    List<languages> cultures = new List<languages>();
    protected override async Task OnInitializedAsync()
    {
        languages L = new languages();

        cultures.Add(new languages() { lang_name = "English", lang_code = "en-EN" });
        cultures.Add(new languages() { lang_name = "ខ្មែរ", lang_code = "km-KH" });
        //cultures.Add(new languages() { lang_name = "Thai", lang_code = "th-TH" });
        //cultures.Add(new languages() { lang_name = "Korean", lang_code = "ko-KR" });
        //cultures.Add(new languages() { lang_name = "Chinese", lang_code = "zh-CN" });


        _current_lang = await local.GetItemAsync<string>("current_language");
        if (string.IsNullOrEmpty(_current_lang))
        {
            _current_lang = "en-EN";
        }

    }



    public class languages
    {

        public string lang_name { get; set; }
        public string lang_code { get; set; }


    }

    private string _current_lang;

    public string current_lang
    {
        get {



            return _current_lang; }
        set { _current_lang = value;
            var js = (IJSInProcessRuntime)JSRuntime;
            js.InvokeVoid("blazorCulture.set", value);
            NavManager.NavigateTo("login", true);
        }
    }




    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)JSRuntime;
                js.InvokeVoid("blazorCulture.set", value.Name);

            }
        }
    }
}