<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ePOSPrintingService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ePOSPrintingService.Properties.Settings>
            <setting name="FileWatcherPath" serializeAs="String">
                <value>C:\deleteme\</value>
            </setting>
            <setting name="LabelPageSetup" serializeAs="String">
                <value>{"PageWidth":1.5,"PageHeight":1,"MarginTop":0,"MarginRight":0,"MarginBottom":0,"MarginLeft":0}</value>
            </setting>
            <setting name="LabelPrinterName" serializeAs="String">
                <value>OneNote</value>
            </setting>
            <setting name="ReceiptSettings" serializeAs="String">
                <value>[
    {
        "ReceiptName": "Invoice En",
        "ReceiptFileName": "rpt_receipt_en",
        "InvoiceFileName": "rpt_invoice_en",
        "number_invoice_copies": 1,
        "number_receipt_copies": 2,
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    },
    {
        "ReceiptName": "Invoice Kh",
        "ReceiptFileName": "rpt_receipt_kh",
        "InvoiceFileName": "rpt_invoice_kh",
        "number_invoice_copies": 2,
        "number_receipt_copies": 1,
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    },
    {
        "ReceiptName": "Kitchen Order",
        "ReceiptFileName": "rpt_kitchen_order",
        "InvoiceFileName": "rpt_kitchen_order",
        "number_invoice_copies": 1,
        "number_receipt_copies": 1,
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    },
 {
        "ReceiptName": "Close Working Day",
        "ReceiptFileName": "rpt_close_working_day_summary",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    },
 {
        "ReceiptName": "Close Working Day Sale Product",
        "ReceiptFileName": "rpt_close_working_day_sale_product",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    }
,
 {
        "ReceiptName": "Close Working Day Sale Transaction",
        "ReceiptFileName": "rpt_close_working_day_sale_transaction",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    },
 {
        "ReceiptName": "Close Cashier Shift Summary",
        "ReceiptFileName": "rpt_close_cashier_shift_summary",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    }
,
 {
        "ReceiptName": "Close Cashier Shift Sale Transaction",
        "ReceiptFileName": "rpt_close_cashier_shift_sale_transaction",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    }
,
 {
        "ReceiptName": "Close Cashier Shift Sale Product",
        "ReceiptFileName": "rpt_close_cashier_shift_sale_product",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    }
,
 {
        "ReceiptName": "Deleted Sale Order",
        "InvoiceFileName": "rpt_deleted_invoice",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    }
,
{
        "ReceiptName": "Waiting Order",
        "InvoiceFileName": "rpt_waiting_order",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    }

]</value>
            </setting>
            <setting name="CashierPrinter" serializeAs="String">
                <value>Cashier Printer</value>
            </setting>
            <setting name="telegram" serializeAs="String">
                <value>{
    "telegram_alert_url": "https://api.telegram.org/",
    "telegram_alert_token": "593655431:AAH6x4ncKNsxwj2wlaV2WPS4iIB0O2qRPmw",
    "telegram_chat_id": "-545894511",
    "image_path":"C:\\www\\host\\restaurant_client_api\\uploads\\telegram_images\\"
}</value>
            </setting>
            <setting name="api_url" serializeAs="String">
                <value>http://customer.esoftix.com:9597/restaurant_client_api/api/</value>
            </setting>
        </ePOSPrintingService.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>