<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ePOSPrintingService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ePOSPrintingService.Properties.Settings>
            <setting name="FileWatcherPath" serializeAs="String">
                <value>C:\Program Files\ESTC\ePOS\watcher\</value>
            </setting>
            <setting name="LabelPageSetup" serializeAs="String">
                <value>{"PageWidth":1.5,"PageHeight":1,"MarginTop":0,"MarginRight":0,"MarginBottom":0,"MarginLeft":0}</value>
            </setting>
            <setting name="LabelPrinterName" serializeAs="String">
                <value>OneNote</value>
            </setting>
            <setting name="ReceiptSettings" serializeAs="String">
                <value>[
    {
        "ReceiptName": "Invoice En",
        "ReceiptFileName": "rpt_receipt_en",
        "InvoiceFileName": "rpt_invoice_en",
        "number_invoice_copies": 1,
        "number_receipt_copies": 1,
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    },
    {
        "ReceiptName": "Invoice Kh",
        "ReceiptFileName": "rpt_receipt_kh",
        "InvoiceFileName": "rpt_invoice_kh",
        "number_invoice_copies": 1,
        "number_receipt_copies": 1,
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    },
    {
        "ReceiptName": "Kitchen Order",
        "ReceiptFileName": "rpt_kitchen_order",
        "InvoiceFileName": "rpt_kitchen_order",
        "number_invoice_copies": 1,
        "number_receipt_copies": 1,
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    },
    {
        "ReceiptName": "Kitchen Message",
        "ReceiptFileName": "rpt_kitchen_message",
        "InvoiceFileName": "rpt_kitchen_message",
        "number_invoice_copies": 1,
        "number_receipt_copies": 1,
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    },
 {
        "ReceiptName": "Close Working Day",
        "ReceiptFileName": "rpt_close_working_day_summary",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    },
 {
        "ReceiptName": "Close Working Day Sale Product",
        "ReceiptFileName": "rpt_close_working_day_sale_product",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    }
,
 {
        "ReceiptName": "Close Working Day Sale Transaction",
        "ReceiptFileName": "rpt_close_working_day_sale_transaction",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    },
 {
        "ReceiptName": "Close Cashier Shift Summary",
        "ReceiptFileName": "rpt_close_cashier_shift_summary",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    }
,
 {
        "ReceiptName": "Close Cashier Shift Sale Transaction",
        "ReceiptFileName": "rpt_close_cashier_shift_sale_transaction",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    }
,
 {
        "ReceiptName": "Close Cashier Shift Sale Product",
        "ReceiptFileName": "rpt_close_cashier_shift_sale_product",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    }
,
 {
        "ReceiptName": "Deleted Sale Order",
        "InvoiceFileName": "rpt_deleted_invoice",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    }
,
 {
        "ReceiptName": "Park Item Receipt",
	"ReceiptFileName": "rpt_park_item_receipt",
        "number_receipt_copies": 1,
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    }
,
{
        "ReceiptName": "Waiting Order",
        "InvoiceFileName": "rpt_waiting_order",
        "PageWidth": 2.85,
        "PageHeight": 11,
        "MarginTop": 0,
        "MarginRight": 0,
        "MarginBottom": 0,
        "MarginLeft": 0
    }
]</value>
            </setting>
            <setting name="CashierPrinter" serializeAs="String">
                <value>Cashier Printer</value>
            </setting>
            <setting name="Telegram" serializeAs="String">
                <value>{
    "token": "593655431:AAH6x4ncKNsxwj2wlaV2WPS4iIB0O2qRPmw",
    "chat_id": "-545894511",
    "image_path":"C:\\Program Files\\ESTC\\ePOS\\watcher\\telegram\\"
}</value>
            </setting>
            <setting name="BaseAPIURL" serializeAs="String">
                <value>http://localhost:1111/api/</value>
            </setting>
            <setting name="USBCashDrawer" serializeAs="String">
                <value>{"is_usb":false,"port":"COM1"}</value>
            </setting>
        </ePOSPrintingService.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.3" newVersion="6.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>