@inject IStringLocalizer<Resource> lang
<span class="wrp-page-size-info">
    @lang["Showing"] @(TotalItem>0?PerPage * (CurrentPage - 1)+1:0)-@GetLastRecordNumber() @lang["of"] @TotalItem
</span>
@code{
    [Parameter] public int TotalItem { get; set; } = 0;
    [Parameter] public int PerPage { get; set; } = 25;
    [Parameter] public int CurrentPage { get; set; } = 1;

    public int GetLastRecordNumber()
    {
        if (TotalItem < CurrentPage * PerPage)
        {
            return TotalItem;
        }
        return CurrentPage * PerPage;
    }
}
