@if (is_visible)
{
    if (is_member)
    {
        <span class="uk-label" style="background-color: #018786">Member</span>
    }
    else
    {
        <span class="uk-label" style="background-color: #3a89ad">Customer</span>
    }

}

@code{
    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public bool is_member { get; set; } = false;
}