<label class="uk-label package" style="background:@background_color;color:@text_color">@text</label>
@code {
    [Parameter] public string text { get; set; }
    [Parameter] public string background_color { get; set; } = "blue";
    [Parameter] public string text_color { get; set; } = "white";


}
