@inject IHttpService http;
<div class="uk-flex uk-flex-middle">
    <div style="margin-right:5px;">
        @if (show_image)
        {
            <img src="@($"{http.ImageUrl(model.photo)}")" style="width:30px;"/>
        }
    </div>
    <div>
        @model.payment_type_name_en
    </div>
</div>





@code {
    [Parameter] public PaymentTypeModel model { get; set; }
    [Parameter] public bool show_image { get; set; } = true;


}
