 
    <tr>
        <td colspan="7" class="uk-text-right">Total Quantity</td>
        <td class="uk-text-right bg_hightlight">
            @model.active_stock_transfer_products.Sum(r => r.quantity).ToString(gv.quantity_format)
        </td>
    </tr>
    <tr>
        <td colspan="7" class="uk-text-right">Sub Total</td>
        <td class="uk-text-right bg_hightlight">
            @model.sub_total.ToString(gv.currency_format)
        </td>
    </tr>
    @if (model.total_amount > 0)
    {
        <tr>
            <td colspan="7" class="uk-text-right">Grand Total</td>
            <td class="uk-text-right bg_hightlight">
                @model.total_amount.ToString(gv.currency_format)
            </td>
        </tr>
    }
    
@code{
    [Parameter] public StockTransferModel model { get; set; }
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
}