<Grid ClassName="uk-grid-small">
    <Column ClassName="uk-width-1-3">
        @if (!string.IsNullOrEmpty(po.vendor_note))
        {
            <div>
                <div class="sub_title font-sm">Notes:</div>
                <div>
                    @po.vendor_note
                </div>
            </div>
            <div class="spacing10"></div>
        }
        
    </Column>
    
</Grid>
@code{
    [Parameter] public PurchaseOrderModel po { get; set; }
     
}