<div class="spacing30"></div>
<div class="invoice_footer_description">
    <div>
        Created by @po.created_by on   @po.created_date.ToString(gv.date_time_format)
    </div>
 
    @if (po.is_deleted)
    {
<div>Deleted by @po.deleted_by on  @po.deleted_date</div>
    }
</div>
@code {
    [Parameter] public PurchaseOrderModel po { get; set; }
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
}
