
@if (po.is_deleted)
{
    <div class="ribbon ribbon-left"><span class="uk-label-danger">Deleted</span></div>
}
else
{ 
    @if (po.is_over_due)
    {
        <div class="ribbon ribbon-left"><span class="overdue">Overdue(@System.Math.Floor(@DateTime.Now.Subtract(po.due_date.Value).TotalDays))</span></div>
    }else if (po.total_amount>0 && po.paid_amount == 0){ 
        <div class="ribbon ribbon-left"><span class="unpaid">Unpaid</span></div>
    }else if (po.is_partially_paid )
    {
        <div class="ribbon ribbon-left"><span class="partially-paid">Partially Paid</span></div>
    }
    else if (po.is_paid )
    {
        <div class="ribbon ribbon-left"><span class="paid">Paid</span></div>
    }
 
}
@code{
    [Parameter] public PurchaseOrderModel po { get; set; }
}