 
<tr>
    <td colspan="5" class="uk-text-right">Total Quantity</td>
    <td class="uk-text-right bg_hightlight">
        @model.active_stock_take_products.Sum(r => r.quantity).ToString(gv.quantity_format)
    </td>
</tr>
@if (model.total_amount > 0)
{
    <tr>
        <td colspan="5" class="uk-text-right">Total Amount</td>
        <td class="uk-text-right bg_hightlight">
            @model.total_amount.ToString(gv.currency_format)
        </td>
    </tr>
}

@code{
    [Parameter] public StockTakeModel model { get; set; }
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
}