
@if (model.is_deleted)
{
    <div class="ribbon ribbon-left"><span class="deleted">Deleted</span></div>
}
else
{ 
    @if (model.is_fulfilled)
    {
        <div class="ribbon ribbon-left"><span class="fulfilled">Fulfilled</span></div>
    }
    else
    { 
        <div class="ribbon ribbon-left"><span class="draft">Draft</span></div>
    } 
 
}
@code{
    [Parameter] public StockTakeModel model { get; set; }
}