@if (sale_product_modifiers.Any())
{
    <ol class="order-list uk-margin-remove">
        @foreach (var spm in sale_product_modifiers)
        {
            <li>@spm.modifier_name (@spm.price.ToString(gv.main_currency_format))</li>
        }
    </ol>
}

@code {

    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public List<SaleProductModifierModel> sale_product_modifiers { get; set; }
}
