<div>
    @if (title != "")
    {
        <h3 class="title"><Icon icon="@icon" />@title</h3>
    }
    else if (title != "" && icon == "")
    {
        <h3 class="title">@title</h3>
    }

    @if (use_list)
    {

        <ul class="uk-nav uk-dropdown-nav uk-list uk-list-divider">
            @ChildContent
            <li class="uk-nav-divider"></li>
        </ul>
    }
    else
    {
        <div class="spacing10"></div>
        @ChildContent
    }
</div>

@code{
    [Parameter] public string title { get; set; } = "";
    [Parameter] public string icon { get; set; } = "";
    [Parameter] public bool use_list { get; set; } = true;
    [Parameter] public RenderFragment ChildContent { get; set; }
}
