@if (type == "primary")
{
<div class="uk-alert-primary" uk-alert>
    @if (show_close)
    {
        <a class="uk-alert-close" uk-close></a>
    }
    <div>@ChildContent</div>
</div>
}
else if (type == "success")
{
<div class="uk-alert-success" uk-alert>
    @if (show_close)
    {
        <a class="uk-alert-close" uk-close></a>
    }
    <div>@ChildContent</div>
</div>

}else if(type=="warning"){  
<div class="uk-alert-warning" uk-alert>
    @if (show_close)
    {
        <a class="uk-alert-close" uk-close></a>
    }
    <div>@ChildContent</div>
</div>
} else if (type == "danger") {
    <div class="uk-alert-danger" uk-alert>
        @if (show_close) {
            <a class="uk-alert-close" uk-close></a>
        }
        <div>@ChildContent</div>
    </div>
}

@code {
    [Parameter] public string type { get; set; } = "primary";//primary, success, warning, danger //
    [Parameter] public bool show_close { get; set; } = false;
    [Parameter] public RenderFragment ChildContent { get; set; }
}
