@inject NavigationManager nav;
<Icon icon="add_circle_outline" title="Quick Add" className="topMainIcon" />
<div class="uk-navbar-dropdown wrp-top-quick-add-possition header_new_general" uk-drop="mode: click" id="main_header_drop">
    <div class="uk-dropdown-grid uk-child-width-1-1 wrp-top-quick-add" uk-grid>
        <div>
            <ul class="uk-nav uk-dropdown-nav uk-text-left  uk-list uk-list-divider">
                <li class="uk-nav-header"><Icon icon="add" /> Quick Add</li>
                <li><a href="vendor/new" uk-toggle="target: #main_header_drop">New Vendor</a></li>
                <li><a href="expense/new" uk-toggle="target: #main_header_drop">New Expense</a></li>
                
            </ul>
        </div>
    </div>
</div>
