@inherits LayoutComponentBase
@layout MainLayout
 <MudToolBar DisableGutters="true" Class="mx-4">
    <MudText Typo="Typo.h5" Color="MudBlazor.Color.Primary">Report</MudText>
</MudToolBar>
<MudDivider Class="mb-4"/>

<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <MudPaper Elevation="25" Class="d-flex align-center py-1 mb-4">
        <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="MudBlazor.Color.Inherit" Class="ml-3 mr-2" />
        <MudText Typo="Typo.subtitle1" Color="MudBlazor.Color.Primary" >Business Branch</MudText>
    </MudPaper>
</MudHidden>
<div class="d-flex flex-grow-1 flex-row ma-4">
  
        @Body
        
</div>
<MudDrawer @bind-Open="@open" Anchor="@Anchor.Left" Elevation="1" Variant="@DrawerVariant.Temporary">
</MudDrawer>

