 
<div class="uk-margin-small">
    <label class="uk-form-label" for="@id">Status</label>
    <div class="uk-form-controls">
        <select id="@id" value="@selected_value.ToString()" @onchange="@((ui) => SelectedValueChange((string)ui.Value))" class="uk-select uk-width-medium uk-form-small" style="width:@Width">
            <option value="True">Active</option>   
            <option value="False">Inactive</option>   
        </select>
    </div>
</div>

@code{
    [Parameter] public bool selected_value { get; set; } = true;
    [Parameter] public string label { get; set; } = "Status";
    [Parameter] public string Width { get; set; } = "100%";


    [Parameter]
    public EventCallback<bool> selected_valueChanged { get; set; }

    Guid id = Guid.NewGuid();



    private async Task SelectedValueChange(string n)
    {
        selected_value = n=="True"?true:false;
        await selected_valueChanged.InvokeAsync(selected_value);
    }
}
