<div class="kpi-panel">
    <div class="bg_kpi bg_all_customer uk-height-small">
        <div>
            <div class="title_number">670</div>
            <div class="title-kpi">All Customer</div>
        </div>

    </div>
</div>

@code{
    [Parameter] public string Label { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public string bg_class { get; set; }
}