 @if (roles == "")
{
    @ChildContent
}else
{
    <AuthorizeView Roles="@(state.GetRole(roles))">
     <Authorized>
 @ChildContent            
     </Authorized>
     <NotAuthorized>
         <p>no permission</p>
     </NotAuthorized>
 
 </AuthorizeView>
}
 

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string roles { get; set; } = "";
    [CascadingParameter] public AppState state { get; set; }

}
