
<div class="wrp-action-form">
     @Left
     <MudToolBarSpacer/>
     @Center
     @ChildContent
     <MudToolBarSpacer/>
     @Right
</div>

 
@code {

   [Parameter] public RenderFragment Left { get; set; }
   [Parameter] public RenderFragment Center { get; set; }
   [Parameter] public RenderFragment ChildContent { get; set; }
   [Parameter] public RenderFragment Right { get; set; }

}

 