
@if (is_visible)
{
    <Label Color="#fff" Background="#ff0000">Out of stock<Com is_visible="@(product_amount > 0)"> : @product_amount</Com></Label>
}


@code
{
    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public int product_amount { get; set; } = 0;
 

}
