@inject IStringLocalizer<Resource> lang
@if (is_visible && !string.IsNullOrEmpty(label))
{
    <span class="uk-label" style="background-color: #01a9a7" uk-tooltip="@lang["Stock Location"]">@lang[label]</span>
}

@code{
    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public string label { get; set; }
}