@if (is_visible)
{
    <span class="uk-label visited">Visited (@count)</span>
}

@code {
    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public int count { get; set; } = 0;
}
