<th class="table-header @TextAlign @ClassName" @onclick="@OnClick" style="width:@Width">
    <div class="d-flex align-center">
            <div>
             @ChildContent</div>
            <div style="margin-top: 6px;margin-left: 3px;">
                 @if(OrderBy){
               <MudIcon Icon="@(OrderByType == "asc"?@Icons.Material.Filled.ArrowUpward:@Icons.Material.Filled.ArrowDownward)" Size="Size.Small"/>
            }
            </div>
        </div>

</th>
@code{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string TextAlign { get; set; } = "";
    [Parameter] public string Width { get; set; } = "";
    [Parameter] public string OrderByType { get; set; } = "";
    [Parameter] public string ClassName { get; set; } = "";
    [Parameter] public bool OrderBy { get; set; } = false;
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}
