
@if (is_visible)
{

    <th class="@ClassName text-rigth" @onclick="OnClick" style="width:@width">
        <div class="d-flex align-center">
            <div>@ChildContent</div>
            <div style="margin-top: 6px;margin-left: 3px;">
                 @if(OrderBy){
               <MudIcon Icon="@(OrderByType == "asc"?@Icons.Material.Filled.ArrowUpward:@Icons.Material.Filled.ArrowDownward)" Size="Size.Small"/>
               }
            </div>
        </div>
    </th>
    
}
@code{
    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public bool OrderBy { get; set; } = false;
    [Parameter] public string width { get; set; } = "";
    [Parameter] public string OrderByType { get; set; } = "";
    [Parameter] public string ClassName { get; set; } = "";
    [Parameter] public int colspan { get; set; } = 1;
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}