@inject IStringLocalizer<Resource> lang
<h3>@lang["System Feature"]</h3>
@foreach(var d in business_branch_system_features)
{
    <div>
        @d.system_feature.feature_name |  @d.status 
    </div>
}
@code {
    [Parameter] public List<eSoftixBackend.BusinessBranchSystemFeatureModel> business_branch_system_features {get;set;}
}
