@inject IStringLocalizer<Resource> lang
<h3>@lang["System Feature"]</h3>
@foreach(var d in project_features)
{
    <div>
        @d.system_feature.feature_name |  @d.status 
    </div>
}
@code {
    [Parameter] public List<eSoftixBackend.ProjectSystemFeatureModel> project_features {get;set;}
}
