@inject IHttpService http
@inject IStringLocalizer<Resource> lang
<UIContainerBox Title="Printers" Icon="print" >
    @if (is_loading)
    {
        <Spinner/>
    }
    else
    {
        @if (printers.Any())
        {
            @foreach (var p in printers)
            {
            <span class="uk-label" style="margin-right:5px;background:#33a9a9;">@p.printer.printer_name (@p.printer.business_branch.business_branch_name_en)</span>
            }
        }else
        {
            <p>@lang["There is no printer for this product."]</p>
        }
    }
</UIContainerBox>
@code {
    public List<ProductPrinterModel> printers { get; set; }
    [Parameter] public int product_id { get; set; }

    bool is_loading;

    protected override async Task OnInitializedAsync()
    {

        is_loading = true;
        var resp = await http.ApiGetOData($"ProductPrinter?$select=id&$expand=printer($select=printer_name;$expand=business_branch($select=business_branch_name_en))&$filter=product_id eq {product_id} && is_deleted eq false");

        if (resp.IsSuccess)
        {
            printers = JsonSerializer.Deserialize<List<ProductPrinterModel>>(resp.Content.ToString());

        }
        is_loading = false;
    }
}
