@inject IHttpService http
@inject IStringLocalizer<Resource> lang
<UIContainerBox Title="@lang["Menus"]">
    @if (is_loading)
    {
        <Spinner/>
    }
    else
    {
        if (product_menus.Count() == 0)
        {
            <p>@lang["There is no menu assigment for this product."]</p>
        }
    <div class="box_select_menu"> 
    @foreach (var pm in product_menus.OrderBy(r => r.menu.business_branch.business_branch_name_en))
    {
        <div class="uk-flex uk-flex-inline uk-flex-between" style="width:100%;margin-bottom:10px;"> 
            <div>
                <Icon icon="check_box" />
                <span>
                    @pm.menu.menu_path
                </span>
            </div>
            <div>
                <Label Background="#3b5a79" Color="#fff" TextTooltip="Business Branch">@pm.menu.business_branch.business_branch_name_en</Label>
            </div>
        </div>
    }
    </div>
    }
</UIContainerBox>
@code{
    [Parameter] public int product_id { get; set; }
    List<ProductMenuModel> product_menus = new List<ProductMenuModel>();
    bool is_loading;

    protected override async Task OnInitializedAsync()
    {

        is_loading = true;
        var resp = await http.ApiGetOData($"ProductMenu?$select=id&$expand=menu($select=menu_path;$expand=business_branch($select=business_branch_name_en))&$filter=product_id eq {product_id} and is_deleted eq false");
        if (resp.IsSuccess)
        {
            product_menus = JsonSerializer.Deserialize<List<ProductMenuModel>>(resp.Content.ToString());
        }
        is_loading = false;
    }

}