@inject IStringLocalizer<Resource> lang
@page "/tablegroupandtable"
<Title Value="@lang["Table Group & Table"]"></Title>
<PageContainer roles="@gv.GetRole("table_group_table")">
    <PageHeader>
        <HeaderLeft>
            <PageTitle ShowFilter="false">
                <HeaderTemplate>
                    @lang["Table Group & Table"]
                </HeaderTemplate>
            </PageTitle>
        </HeaderLeft>
        <HeaderRight>
        </HeaderRight>
    </PageHeader>

    <PageBody>
        <MudTabs>
                @foreach (var b in gv.business_branch_by_role)
                {
                    <MudTabPanel Text="@b.business_branch_name_en">
                        <ComTableGroupandTable business_branch="b" />
                    </MudTabPanel>
                }
        </MudTabs>
    </PageBody>
</PageContainer>


@code{
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
}
