@page  "/app/{id:guid}"

 
@inject NavigationManager nav;
@inject eKnowledgebase.Services.eKnowledgebaseService s;

<PageTitle>@state.GetTitleText(model)</PageTitle>
<MudContainer MaxWidth="MaxWidth.Medium">
    @if (is_loading)
{
    <div>loading...</div>
}else
{
    
  <div class="view_header">
    <h3>Choose Your Topic</h3>
 </div>
<div class="view_content">
     <MudGrid Spacing="2">
   
             @foreach(var d in models.OrderBy(r=>r.sort_order)){ 
                <MudItem md="3" xs="6">
                      <MudPaper @onclick="@(()=> nav.NavigateTo($"section/{d.id}"))" Class="pc pa-4 d-flex align-center justify-center" Outlined="true" Square="true" Style="box-shadow: 0 0 4px rgb(0 0 0 / 19%);">
                          <div style="text-align:center">
                              <MudIcon Icon="@d.icon" Style="font-size:85px"/>
                              <Spacing Number="5"/>
                              <MudText Typo="Typo.body2" Style="text-transform: capitalize;">@state.GetTitleText(d)</MudText>
                          </div>
                    </MudPaper>
                 </MudItem>
                }
     </MudGrid>
   </div>
  
  
}
</MudContainer>



@code{
    [CascadingParameter] 
    public AppState state { get; set; }
[Parameter]
public Guid id { get; set; }
    List<eKnowledgebaseModel> models = new();
    eKnowledgebaseModel model = new();
    bool is_loading;
    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        model = await s.GetByID(id);
        models = await s.GetDataByParentID(id);
        is_loading = false;
    }
    
}