@inherits LayoutComponentBase
    @Body

<div class="uk-position-relative">
    <div class="uk-position-bottom uk-text-center" style=" margin-bottom: 20px;">
        <a href="http://esoftix.com/" class="cu_color">Power By eSoftix</a>
    </div>
</div>