@inject IHttpService http
<Column is_visible="@(!string.IsNullOrEmpty(title) || !string.IsNullOrEmpty(content))" ClassName="nomal-item">
    <span class="nomal-item-title">@title</span> : <span class="nomal-item-content">@content</span>
</Column>

@code {
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public string title { get; set; } = "";
    [Parameter] public string content { get; set; } = "";
}
