@inject IStringLocalizer<Resource> lang
<div class="filter-flyout" id="@Id" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar uk-padding-remove" style="background: #003073">
        <div class="filter-content">
            <div class="filter-header uk-flex uk-flex-justify">
                <div class="filter-title"><LineIcon IconName="la-filter" />@lang["Filter"]</div>
                <div>
                    <LineIcon IconName="la-times" ClassName="uk-offcanvas-close" />
                </div>
            </div>
            <div class="filter-body">
                @ChildContent
            </div>
            <div class="filter-footer uk-flex uk-flex-right">
                <button class="btn-search-filter" type="submit" @onclick="@OnSearch"><LineIcon IconName="la-filter" />@lang["Search"]</button>
            </div>
        </div>
    </div>

</div>

@code{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback OnSearch { get; set; }
    [Parameter] public string Id { get; set; } = "filter_flyout";
}