

        <div class="uk-grid-small" uk-grid uk-height-match="target: > div > .bg_kpi">
            <div class="uk-width-1-2 uk-width-1-2@m">
                <div class="bg_kpi bg_today_amount">
                    <div class="ttle_number">670</div>
                    <span class="title-kpi">ចំនួនទឹកប្រាក់លក់បានថ្ងែនេះ</span>
                </div>
            </div>
            <div class="uk-width-1-2 uk-width-1-2@m">
                <div class="bg_kpi bg_today_mtd">
                    <div class="ttle_number">808</div>
                    <span class="title-kpi"> ចំនួនទឹកប្រាក់លក់បានខែនេះ</span>

                </div>
            </div>
        </div>

        <div class="uk-grid-small" uk-grid style="margin-top:5px;" uk-height-match="target: > div > .bg_kpi">
            <div class="uk-width-1-2 uk-width-1-2@m">
                <div class="bg_kpi bg_today_quantity">
                    <div class="ttle_number">340</div>
                    <span class="title-kpi"> ចំនួនលក់បានថ្ងែនេះ</span>

                </div>
            </div>
            <div class="uk-width-1-2 uk-width-1-2@m">
                <div class="bg_kpi bg_today_quantity_mtd">
                    <div class="ttle_number"> 12</div>
                    <span class="title-kpi"> ចំនួនលក់បានខែនេះ</span>

                </div>
            </div>
        </div>

    <Spacing Number="10" />

        <div class="uk-box-shadow-small uk-padding-small">
            <h4 class="title_summery_order">សង្ខេបការបញ្ជាទិញ</h4>
            <label style="font-size:12px;">Close Orders(6/6)</label>
            <div class="progress_bar">
                <div style="width:30%" class="uk-background-primary text_persen">12</div>
            </div>
            <label style="font-size:12px;">Pending Orders (8/6)</label>
            <div class="progress_bar">
                <div style="width:40%" class="bg_viode_oeder text_persen">
                   12
                </div>
            </div>

            <label style="font-size:12px;">Void Orders (9 /10)</label>
            <div class="progress_bar">
                <div style="width:50%" class=" bg_pendding_order text_persen">
                    50
                </div>
            </div>

        </div>




@code {

   
}

