@if(is_loading){
    <Button custom_class="loading-button" disabled="true"><Spinner /> Saving...</Button>
}else{
    @ChildContent
}

@code {
    [Parameter] public bool is_loading { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

}
