@if(is_loading){
    <Button custom_class="loading-button" disabled="true"><Spinner /> Saving...</Button>
}else{
    @ChildContent
    if(is_show_cancel_button){
      <button class="uk-button uk-button-danger" onclick="history.go(-1)"><Icon icon="reply" /> Cancel</button>
    }
}

@code {
    [Parameter] public bool is_loading { get; set; }
    [Parameter] public bool is_show_cancel_button { get; set; } = true;
    [Parameter] public RenderFragment ChildContent { get; set; }

}
