<Com is_visible="is_visible">

    @if (sale.is_partially_paid && !sale.is_deleted)
    {
        <span class="uk-label partially-paid">Partially Paid</span>
    }


    @if (sale.is_paid && !sale.is_deleted)
    {
        <span class="uk-label paid">Paid</span>
    }

    <LabelUnpaid is_visible="@(!sale.is_deleted && !sale.is_paid && (sale.total_amount > 0) && (sale.balance == sale.total_amount))" />
</Com>

@code{
    [Parameter] public SaleModel sale { get; set; }
    [Parameter] public bool is_visible { get; set; } = true;
}
