@if (filters.Count() > 0)
{
    <div class="wrp-filter-label">
        @foreach (var d in filters.Where(r => r.filter_info_text != "").OrderBy(r => r.sort_order).ToList())
        {
        <div class="uk-label filter-label-item">
            <span>
                @d.filter_title : @(d.filter_operator == "multiple"?" * ":d.filter_info_text) <Icon icon="clear" OnClick="@(()=>RemoveFilterClick(d))" />
            </span>
        </div>
        }
        @if (filters.Where(r => r.filter_info_text != "" && r.will_remove == true).Count() > 1)
        {
            <a @onclick="@OnRemoveAllFilterClick" class="clear_all_filters">Clear All</a>
        }
    </div>
    <Spacing Number="5"/>
}
@code{
    [Parameter] public List<FilterModel> filters { get; set; }

    [Parameter] public EventCallback<FilterModel> OnRemoveFilterClick { get; set; }
    [Parameter] public EventCallback OnRemoveAllFilterClick { get; set; }

    async Task RemoveFilterClick(FilterModel m)
    {
        await OnRemoveFilterClick.InvokeAsync(m);
    }

}