@inject ISnackbar toast;
@inject IHttpService http;
@inject IJSRuntime js ;
@inject NavigationManager nav;
@inject IStringLocalizer<Resource> lang
<form @onsubmit:preventDefault="true" @onsubmit="Search">
    <div class="uk-search uk-search-default search-default">
        <span uk-search-icon class="uk-icon uk-search-icon"></span>
        <input @bind-value="@keyword" class="uk-search-input search-field" type="search" placeholder="@lang["Search"]" @ref="@txt_search" style="border:none !important"/>
    </div>
</form>
@code{
    private ElementReference txt_search;
    string keyword = "";
    async Task Search()
    {
        await Task.Delay(10);
        if (keyword.Trim().Length < 3)
        {
            await js.InvokeVoidAsync("JsFunctions.focusElement", txt_search);
            toast.Add(lang["Please enter keywords 3 or more characters"], MudBlazor.Severity.Warning);
            return;
        }
        else
        {
            nav.NavigateTo($"search/{keyword}");

        }
        await js.InvokeVoidAsync("JsFunctions.focusElement", txt_search);

    }
}

