@if (is_spinning)
{
<div class="uk-text-center">
    <span uk-spinner="ratio: @ratio"></span>
</div>
  
}

@code{
    [Parameter] public string ratio { get; set; } = "0.6";
    [Parameter] public bool is_spinning { get; set; } = true;
}