<TdCenter ClassName="@ClassName">
    <Spinner is_spinning="is_loading" />
    <Com is_visible="@(!is_loading)">
        <div class="uk-inline button-action-table">
            <Icon icon="more_vert" OnClick="@OnClick" />
            @if (position=="top-left")
            {
                <div uk-drop="mode: click;pos:top-left" class="tbl_actions_group">
                    <ul class="uk-nav uk-dropdown-nav">
                        @ChildContent
                    </ul>
                </div>
            }
            else
            {
                <div uk-drop="mode: click" class="tbl_actions_group">
                    <ul class="uk-nav uk-dropdown-nav">
                        @ChildContent
                    </ul>
                </div>
            }
        </div>
    </Com>

</TdCenter>
@code{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool is_loading { get; set; }
    [Parameter] public string position { get; set; } = "";
    [Parameter] public string ClassName { get; set; } = "";
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

}