<div class="custom-flex uk-flex uk-flex-inline @class_name @flex_align">
    @ChildContent
</div>
@code{
    [Parameter] public string class_name { get; set; }
    [Parameter] public string flex_align { get; set; } = "uk-flex-middle";
    [Parameter] public RenderFragment ChildContent { get; set; }

}