@if (is_visible)
{
    <label class="uk-label label-inventory text-center @ClassName" style="background:@Background;color:@Color">@Text</label>
}

@code{
    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public string ClassName { get; set; }
    [Parameter] public string Background { get; set; } = "#1e87f0";
    [Parameter] public string Color { get; set; } = "#fff";
    [Parameter] public string Text { get; set; } = "Inventory"; 

}