@if (is_visible)
{
    if (product_type_id > 0)
    {
        <span class="uk-label" style="background:@background_color" uk-tooltip="Product Type">@product_type_name</span>
    }
}
@code{
    [CascadingParameter] public GlobalVariableModel gv { get; set; }

    [Parameter] public int product_type_id { get; set; } = 0;
    [Parameter] public bool is_visible { get; set; } = true;
    public string background_color
    {
        get
        {
            if (product_type_id > 0)
            {
                return gv.product_types.Where(r => r.id == product_type_id).FirstOrDefault().background_color;
            }
            return "orange";
        }
    }

    string product_type_name
    {
        get
        {
            if (product_type_id > 0)
            {
                return gv.product_types.Where(r => r.id == product_type_id).FirstOrDefault().product_type_name;
            }
            return "";
        }
    }
}
