
    <Spinner is_spinning="is_loading"/>
    <Com is_visible="@(!is_loading)">
        @if (is_visible)
        {
        <div class="uk-inline uk-text-center button-action-table  @ClassName">
            @if (is_icon)
            {
                <Icon icon="@ClickIcon" className="@IconClass" />
            }
            else
            {
                <span class="uk-label" uk-tooltip="More Invoices" style="padding: 1px 3px 2px 3px; line-height: initial;">
                    (@Number)
                </span> 
            }


            @if (is_top_left)
            {
                <div uk-drop="mode: click;pos:top-left" class="tbl_actions_group">
                    <ul class="uk-nav uk-dropdown-nav">
                        @ChildContent
                    </ul>
                </div>
            }
            else
            {
                <div uk-drop="mode: click" class="tbl_actions_group">
                    <ul class="uk-nav uk-dropdown-nav">
                        @ChildContent
                    </ul>
                </div>
            }
        </div>
        }
    </Com>


@code{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool is_loading { get; set; }
    [Parameter] public bool is_icon { get; set; } = true;
    [Parameter] public string ClickIcon { get; set; } = "more_vert";
    [Parameter] public int Number { get; set; } = 0;
    [Parameter] public bool is_top_left { get; set; } = false;
    [Parameter] public string IconClass { get; set; } = "";
    [Parameter] public string ClassName { get; set; } = "";
    [Parameter] public bool is_visible { get; set; } = true;


}