@if (filters.Count() > 0)
{
        @foreach (var d in filters.Where(r => r.filter_info_text != "").OrderBy(r => r.sort_order).ToList())
        {
            <span>
                @d.filter_title : @d.filter_info_text <MudButton  OnClick="@(()=>RemoveFilterClick(d))">Delete</MudButton>
            </span>
        }
        @if (filters.Where(r => r.filter_info_text != "" && r.will_remove == true).Count() > 1)
        {
            <a @onclick="@OnRemoveAllFilterClick" class="clear_all_filters">Clear All</a>
        }
}
@code{
    [Parameter] public List<FilterModel> filters { get; set; }

    [Parameter] public EventCallback<FilterModel> OnRemoveFilterClick { get; set; }
    [Parameter] public EventCallback OnRemoveAllFilterClick { get; set; }

    async Task RemoveFilterClick(FilterModel m)
    {
        await OnRemoveFilterClick.InvokeAsync(m);
    }

}