@inherits PageCore

<Com is_visible="IsVisible">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin customer-card" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <Com is_visible="@(IsShowStatus)">
                <div class="card-status">
                    @Status
                </div>
            </Com>
            <img src="@http.ImageUrl(ImageUrl)" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <div class="badge-top-right">@TemplateTopRight</div>
                <div class="uk-card-title">@Title</div>
                @TemplateContent
            </div>
        </div>
    </div>
</Com>
@code {
    [Parameter] public bool IsVisible { get; set; } = true;
    [Parameter] public string ImageUrl { get; set; } = "";
    [Parameter] public string Title { get; set; }
    [Parameter] public string Status { get; set; }
    [Parameter] public bool IsShowStatus { get; set; } = false;
    [Parameter] public RenderFragment TemplateContent { get; set; }
    [Parameter] public RenderFragment TemplateTopRight { get; set; }

}
