<table class="@ClassName @ClassWidth list-table">
    @ChildContent
</table>

@code{
    [Parameter] public string ClassName { get; set; }
    [Parameter] public string ClassWidth { get; set; } = "uk-width-1-2";
    [Parameter] public RenderFragment ChildContent { get; set; }
}