<tr>
    <td class="text-sub-title">
        @ItemTitle
    </td>
    <td>
        : @ChildContent
    </td>
</tr>

@code{
    [Parameter] public string ClassName { get; set; }
    [Parameter] public string ItemTitle { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}