@if (is_loading)
{
    <div  style="position:fixed; top:0;z-index:999999; width:100%; height:2px;left:0px">
    <MudProgressLinear Color="MudBlazor.Color.Secondary" Indeterminate="true"/>    
    </div>
    
}

@code {
    [Parameter] public bool is_loading { get;set;} 
}
