
@if (isVisible)
{
    <button class="uk-button uk-button-primary">
        More
        <Icon icon="arrow_drop_down" />
    </button>

    @if (!is_loading)
    {
        <div uk-drop="mode: click;" class="@ClassName">
            <ul class="uk-nav uk-dropdown-nav uk-list uk-list-divider font_size_i">
                @ChildContent
            </ul>
        </div>
    }
}
@code{

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string ClassName { get; set; } = "correct-location-dropdown";
    [Parameter] public bool is_loading { get; set; }
    [Parameter] public bool isVisible { get; set; } = true;
}
