<PageContainer>
    <PageBody>
        <div class="uk-position-center uk-text-center page_error">
            <Icon className="error_warning" icon="report" />
            <div class="page_error_type_title">Page Not Found</div>
            <p>There isn't anything found in this address, please check this url and try again.</p>
            <a class="uk-button error_page_btn" onclick="history.go(-1);">Back</a>
        </div>
    </PageBody>
</PageContainer>