<Com is_visible="@IsVisible">
    <div>
        <div class="uk-card uk-card-default @ClassName">
            @ChildContent
        </div>
    </div>
</Com>
@code{
    [Parameter] public bool IsVisible { get; set; } = true;
    [Parameter] public string ClassName { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
