@inject IJSRuntime js
@inject IHttpService http
@inject IMatToaster toast
<div class="wrp-selected-items">

    @if (model != null)
    {
        <Table ShowTotalCount="false"
               Items="@model.active_stock_take_products"
               ShowPager="false"
               ShowPagination="false"
               ShowPaging="false"
               CustomClass="set-verticle-top_custo"
               EmptyText="There's no record in the system">
            <TableHeader>
                <ThCenter>Image</ThCenter>
                <ThCenter>Code</ThCenter>
                <ThAuto>Detail</ThAuto>
                <ThCenter>Quanlity</ThCenter>
                <ThCenter>Unit</ThCenter>
                <ThRight>Price</ThRight>
                <ThRight>Amount</ThRight>
                <th></th>
            </TableHeader>
            <RowTemplate Context="p">
                 
                <ComStockTakeProductRow stock_take_product="@p" stock_take_productChanged="ProductChanged" OnRemove="@(()=>RemoveProduct(p))" OnClone="@(()=>CloneProduct(p))" />
            </RowTemplate>
        </Table>
    }
 
</div>

@code{
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public StockTakeModel model { get; set; }
    [Parameter] public EventCallback<StockTakeModel> modelChanged { get; set; }
    public bool is_remove { get; set; }
    async Task ProductChanged(StockTakeProductModel sp)
    {
        await modelChanged.InvokeAsync(model);
    }


    async Task RemoveProduct(StockTakeProductModel sp)
    {
        if (sp.id == 0)
        {
            model.stock_take_products.Remove(sp);
        }
        else
        {
            if (await js.Confirm("Delete Item", "Are you sure to delete this record?"))
            {
                sp.is_deleted = true;
            }
        }

        await modelChanged.InvokeAsync(model);
    }
    async Task CloneProduct(StockTakeProductModel sp)
    {
        var json = JsonSerializer.Serialize(sp);
        var data = JsonSerializer.Deserialize<StockTakeProductModel>(json);
        data.id = 0;
        model.stock_take_products.Add(data); 
        await modelChanged.InvokeAsync(model);

    }
}