.uk-form-controls .blazored-typeahead__input {
    border: 1px solid #e5e5e5;
}
.uk-form-controls .blazored-typeahead__input-mask-wrapper {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background: #fff;
}
.box {
    color: #666;
    width: 180px;
    height: 130px;
    position: relative;
    border-radius: 4px;
}
.box_select_menu {
    border: 1px solid #eaeaec;
    padding: 20px;
    border-radius: 6px;
    background: #ffffff;
    margin-bottom:10px;
}
.pos_icon_back {
    position: absolute;
    left: 37%;
    top: 22%;
}
.icon_edit {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9;
}
.ribbon {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

    .ribbon span {
        font-size: 10px;
        font-weight: bold;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate( -45deg );
        -webkit-transform: rotate( -45deg );
        width: 81px;
        display: block;
        background: #79A70A;
        background: linear-gradient(#5899dc 0%, #5899dc 100%);
        box-shadow: 0 3px 10px -5px rgb(0 0 0);
        position: absolute;
        top: 13px;
        left: -19px;
    }

        .ribbon span::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 100%;
            z-index: -1;
            border-left: 3px solid #5899dc;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #5899dc;
        }

        .ribbon span::after {
            content: "";
            position: absolute;
            right: 0px;
            top: 100%;
            z-index: -1;
            border-left: 3px solid transparent;
            border-right: 3px solid #5899dc;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #5899dc;
        }