@if (is_deleted)
{
    <LabelDeleted is_visible="true" />
}
else if (is_full_license)
{
    <LabelFullLicense is_visible="true" />
}
else
{
    if (expired_date > DateTime.Now)
    {

        @*<label class="uk-label uk-label-date text-center" uk-tooltip="Expired Date">@expired_date.ToString(gv.date_format) (@Math.Ceiling(((DateTime)expired_date - DateTime.Now).TotalDays))</label>*@
        <label class="uk-label uk-label-date text-center" uk-tooltip="Expired Date">@expired_date.ToString("yyyy-MM-dd") (@((int)(Convert.ToDateTime(expired_date) - DateTime.Now).TotalDays))</label>
    }
    else
    {
        <LabelExpired is_visible="true" />
    }
}
@code {

    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public bool is_deleted { get; set; }
    [Parameter] public bool is_full_license { get; set; }
    [Parameter] public DateTime expired_date { get; set; }
}
