<Com is_visible="is_visible">

    @if (po.is_over_due && !po.is_deleted)
    {
        <span class="uk-label overdue">Overdue (@System.Math.Floor(@DateTime.Now.Subtract(po.due_date.Value).TotalDays))</span>
    }


    @if (po.is_partially_paid && !po.is_deleted)
    {
        <span class="uk-label partially-paid">Partially Paid</span>
    }


    @if (po.is_paid && !po.is_deleted)
    {
        <span class="uk-label paid">Paid</span>
    }

    <LabelUnpaid is_visible="@(!po.is_deleted && !po.is_paid && (po.total_amount > 0) && (po.balance == po.total_amount))" />

    @if (po.is_fulfilled && !po.is_deleted)
    {
        <span class="uk-label fulfilled">Fulfilled</span>
    }
    @if (is_show_deleted_status)
    {
        <LabelDeleted is_visible="@(po.is_deleted)" />
    }

</Com>

@code{
    [Parameter] public PurchaseOrderModel po { get; set; }
    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public bool is_show_deleted_status { get; set; } = true;
}
