@inject IStringLocalizer<Resource> lang

<UIGridCenter>
    <div class="uk-overflow-auto table-scroll">
        <table class="uk-table  view_table set-verticle-middle uk-table-small uk-table-striped uk-table-hover">
            <tr>
                <ThAuto>@lang["Index"]</ThAuto>
                <ThAuto>@lang["API"]</ThAuto>
                <ThAuto>@lang["Service"]</ThAuto>
            </tr>
            <tr>
                <td>0</td>
                <td>Title</td>
                <td>Document Number</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Document Number</td>
                <td>Business Branch Name</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Table Name</td>
                <td>Outlet Name</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Transaction Date</td>
                <td>Station Name</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Note</td>
                <td>Shift Name</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Amount</td>
                <td>Printed By</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Old Amount</td>
                <td>Printed Date</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Created By</td>
                <td></td>
            </tr>
            <tr>
                <td>8</td>
                <td>Created Date</td>
                <td></td>
            </tr>
            <tr>
                <td>9</td>
                <td>Business Branch Name</td>
                <td></td>
            </tr>
            <tr>
                <td>10</td>
                <td>Outlet Name</td>
                <td></td>
            </tr>
            <tr>
                <td>11</td>
                <td>Station Name</td>
                <td></td>
            </tr>
            <tr>
                <td>12</td>
                <td>Shift Name</td>
                <td></td>
            </tr>
            <tr>
                <td>13</td>
                <td>Expense Item</td>
                <td></td>
            </tr>
            <tr>
                <td>14</td>
                <td>Sale Products</td>
                <td></td>
            </tr>
            <tr>
                <td>^RP</td>
                <td colspan="2">For replace payment transaction and changed amount</td>
            </tr>
        </table>
    </div>
</UIGridCenter>
